









#grad {
    background-image: linear-gradient(to right, #d7f5dc, #d7f5dc);
  }
  
  #frame {
    padding: 20px 0 10px 20px;
    font-weight: 600;
  }
  #frame p {
    color: green;
    padding: 15px;
  }
  #works {
    padding-top: 100px;
  }
  .works-icon {
    width: 72px;
  }
  
  /* #works{
    display: flex;
  } */
  
  /* start list starts here */
  
  .list-icon {
    text-align: center;
  }
  .list-item {
    padding: 30px 5px 8px 5px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  /* feature project starts */
  
  #feature-project {
    background-color: #eaeef3;
    padding-bottom: 30px;
    padding-top: 10px;
  }
  .featureImg {
    width: 450px;
  }
  .featureLittle {
    width: 230px;
  }
  
  #projects p {
    padding: 10px;
    font-size: 13px;
  }
  #projects h5 {
    font-size: 18px;
    font-weight: 500;
  }
  
  #projects h3 {
    padding-left: 20px;
  }
  /* subcribesection starts here */
  
  #subcribesection h6 {
    color: green;
    font-weight: 600;
  }
  #subcribesection h4 {
    color: rgb(5, 6, 5);
    font-weight: 600;
  }
  #subcribesection p {
    color: rgb(100, 110, 100);
    font-size: 14px;
    font-weight: 200;
  }
  
  /* input starts here */
  .myform {
    padding-top: 20px;
  }
  #formHandle {
    border: 1px black solid;
    width: 530px;
    padding: 3px;
    margin: 0 auto;
    border-radius: 10px;
  }
  .myInput {
    width: 450px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    /* position: relative; */
  }
  
  #button {
    width: 135px;
    padding: 8px;
    border-radius: 10px;
    /* position: absolute;
  top: 2430px;
  left: 763px; */
    background-color: #f55f1d;
  }
  
  /* footer-area starts form here */
  
  #footer-area {
    background: #000000;
    padding: 30px;
    text-align: left;
    color: white;
  }
  #footer-area h1 {
    font-weight: 600;
  }
  #footer-area p {
    font-size: 16px;
    width: 400px;
    font-weight: 400;
  }
  #footer-area #copyright {
    padding-top: 50px;
    font-weight: 600;
  }
  #footer-area .logo-area {
    margin-left: 40px;
  }
  
  #footer-area h4 {
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
  }
  
  /* home page ends here ****************************************/
  
  /* Team page starts here ****************************************/
  
  #team-view {
    background-color: #f8f9fc;
    overflow: hidden;
  }
  #team-view h1 {
    padding-left: 10px;
    font-weight: 500;
  }
  
  #team-view p {
    padding: 20px 10px 30px 110px;
  }
  
  #team-view span {
    color: #20b15a;
    padding-left: 5px;
  }
  
  /* team list starts here */
  .card-body h2 {
    text-align: center !important;
    font-weight: 500;
  }
  
  #teamList h6 {
    font-weight: 600;
    color: #20b15a;
  }
  
  #teamList h4 {
    font-weight: 600;
  }
  
  /* service page starts */
  
  .frame-property {
    text-align: center;
  }
  
  .grid-data {
    text-align: center;
  }
  
  /* .................... Service page starts here      ..................... */
  
  .designImg {
    width: 358px;
  }
  .myDesign {
     /* width: 538px;  */
    width: 608px; 
    /* padding: 30px 5px 8px 5px; */
    padding: 30px 5px 8px 5px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  
  
  
  
  
  
  
  /* project page starts here */
  
  
  
  .project-card{
    width: 610px; 
   /* width: 540px;  */
    padding: 20px;
    margin: 18px; 
     /* margin: 5px;  */
    text-align: center;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
  }
  
  
  
  /* testimonial starts here */
  
  .testimonial-card{
    height:440px ;
    width: 400px;
    padding: 25px;
    margin: 15px;
    text-align: center;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
  }
  
  .testimonial-card p{
    padding: 30px 0 20px 0;
    
  }


